.recomend {
    width:150px;
    height:200px;
    align-items: center;
    text-align: center;

}
/* explore */
.product-card {
    text-align: center;
    padding: 15px;
}
.product-card img {
    max-width: 100%;
    height: auto;
}
.product-title {
    font-weight: bold;
    margin-top: 10px;
}
.tag {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 5px;
}
.price {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}